<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../resources/css/style.css">
	<title>Asitencia de actividades</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="contemosla13">	
	<form id="registroAsistencia" name="registroAsistencia" action="registroAsistencia" method="POST" onsubmit="change()">
	<center>
	<h1 class="tituloLAB">ASISTENCIA DE ACTIVIDADES</h1>
	</center>
	<div class="container p-4">
		<div class="row1">
			<div class="card-group1">
				<div class="card text-center1">
					<div class="card-body1">
						<select class="form-select" id="selEvento" name="selEvento" 
						onchange="mostrarEvento()">
						<option>Selecciona un evento</option>
						<% for (let i = 0; i < asistente.length; i++) { %>
						  <option
						  value="<%= asistente[i].idEvento %>"> <%= asistente[i].nombreEvento %> - ID: <%= asistente[i].idEvento%> 
						</option>
						 <% } %>
						 </select>
		 
						 <input type="text" id="idEvento" name="idEvento" hidden>

						 	<div name="asisCedula" class="asisCedula">
						 		<input type="text" placeholder="Ingresa tu cedula" id="cedula" name="cedula" required>
						 	</div>
					</div>					
				</div>				
			</div>			
		</div>		
	</div>  		
						<center>
						<button class="btn-save" type="submit" >Registrar Asistencia </button>
						<button class="btn-register"><a href="logout" class="btn-register">Cerrar Sesión</a></button>
					  	</center>
					  	
					  	<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<% if(typeof alert != "undefined") {%>

	<script>
		Swal.fire({
			title: '<%= alertTitle %>',
			text: '<%= alertMessage %>',
			icon: '<%= alertIcon %>',
			showConfirmButton: '<%= showConfirmButton %>',
			timer: '<%= timer %>'
		}).then(()=> {
			window.location='/<%= ruta %>'
		})
	</script>
	<% } %>

	<script>
		
	</script>

	<script type="text/javascript">
function mostrarEvento() {
  var selEvento = document.getElementById("selEvento"),
     idEvento = document.getElementById("idEvento");

  idEvento.value = selEvento.value;
}
</script>

	</form>
</body>
</html>